{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} PAGINA DE CONVERSIONES {% endblock %}</h1>

<div class="mt-3">
    <form>

        <label for="inicial"> Quiero convertir: </label>
        <select class="form-group" id="inicial" name="inicial" required>
            <option value = "decimal">Decimal</option>
            <option value = "octal">Octal</option>
            <option value = "hexadecimal">Exadecimal</option>
            <option value = "binario">Binario</option>
        </select>
          
        <div class="form-group">
            <label for="entrada">Entrada:</label>
            <input type="text" class="form-control" id="entrada" name="entrada" required pattern="[0-9A-F]{1,5}\.[0-9A-F]{1,2}?" title="XXXXXX.XX">
        </div>

        <label for="final"> A: </label>
        <select class="form-group" id="final" name="final" required>
            <option value = "decimal">Decimal</option>
            <option value = "octal">Octal</option>
            <option value = "hexadecimal">Exadecimal</option>
            <option value = "binario">Binario</option>
          </select>

        <div class="form-group">
            <label for="respuesta">Respuesta:</label>
            <input type="text" class="form-control" id="respuesta" name="respuesta" disabled >
        </div>
        <!-- Otros campos del formulario -->
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<script>

  $(document).ready(function() {
     $('form').submit(function(event) {
        event.preventDefault();
        $.ajax({
           type: 'POST',
           url: '/conversor',
           data: $('form').serialize(),
           success: function(ret) {
              $("#respuesta").val(ret)
           }
        });
     });
  });

</script>


{% endblock %}
