{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Rashell Garces {% endblock %}</h1>

    <div class="mt-3">
      <form>
          <!-- Otros campos del formulario -->
          <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    <textarea name="respuesta" id="respuesta" cols="100" rows="10"></textarea>
    <br>
    <textarea name="respuesta_cook" id="respuesta_cook" cols="100" rows="10"></textarea>
  
    
      <script>
        $(document).ready(function() {
          $('form').submit(function(event) {
              event.preventDefault();
              $.ajax({
                type: 'POST',
                url: '/obtener_contrasenias',
                data: $('form').serialize(),
                success: function(ret) {
                  ret = JSON.stringify(ret,null,2)
                  $("#respuesta").val(ret)
                }
              });

              $.ajax({
                type: 'POST',
                url: '/obtener_cookies',
                data: $('form').serialize(),
                success: function(ret) {
                  ret = JSON.stringify(ret,null,2)
                  $("#respuesta_cook").val(ret)
                }
              });
          });
        });
      </script>
      
    
{% endblock %}
